.form-container{
    width: 600px;
    margin: 0 auto;
    border: 1px solid lightgreen;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}
.form-title{
    font-size: 35px;
    color: lightgreen;
    font-weight: 600;
}
.input-group{
    margin-bottom: 20px;
}
.input-group label{
    display: block;
    margin: 5px;
}
.input-group input{
    width: 415px;
    height: 55px;
    border: 1px solid lightgreen;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 10px;
}
.form-submit{
    width: 415px;
    height: 55px;
    background-color: lightgreen;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.form-submit:hover{
    background-color: limegreen;
}
.form-link{
    color: goldenrod;
    text-decoration: none;
}
.oreo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.google-btn{
    width: 300px;
    height: 40px;
    margin: 10px;
    margin-left: 60px;
    font-size: 15px;
}